<div class="content-header">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1>
          <a [routerLink]="['/series']"><i class="fas fa-arrow-circle-left"></i></a>
          {{ serie?.title }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="content">

  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-4">
        <!-- <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3> -->
        <div class="col-12">
          <img src="{{serie?.thumbnail.path}}.{{serie?.thumbnail.extension}}" class="product-image" alt="{{serie?.title}}">
        </div>

        <div class="col-12 mt-2" *ngIf="serie?.previous">
          <div class="card card-widget widget-user-2">
            <div class="widget-user-header ">
              <h5 class="widget-user-desc widget-only-text">Previous serie</h5>
              <h3 class="widget-user-username widget-only-text">{{serie?.previous.name}}</h3>
            </div>
          </div>
        </div>

        <div class="col-12 mt-2" *ngIf="serie?.next">
          <div class="card card-widget widget-user-2">
            <div class="widget-user-header ">
              <h5 class="widget-user-desc widget-only-text">Next serie</h5>
              <h4 class="widget-user-username widget-only-text">{{serie?.next.name}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">

        <div class="row mt-2">
          <div class="col-sm-12">
            <nav>
    					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    						<a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Info</a>
    						<a class="nav-item nav-link" id="nav-characters-tab" data-toggle="tab" href="#nav-characters" role="tab" aria-controls="nav-characters" aria-selected="false">Characters</a>
    						<a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Events</a>
    						<a class="nav-item nav-link" id="nav-stories-tab" data-toggle="tab" href="#nav-stories" role="tab" aria-controls="nav-stories" aria-selected="false">Stories</a>
    					</div>
    				</nav>
    				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    					<div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">

                <div class="card card-widget widget-user-2" *ngIf="serie?.description">
                  <div class="widget-user-header">
                    <h3 class="widget-user-username widget-only-text text-justify">{{ serie?.description }}</h3>
                  </div>
                </div>

                <div class="card card-widget widget-user-2">

                  <div class="card-body">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link">
                          Rating <span class="float-right">{{ serie?.rating }}</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          Start year <span class="float-right">{{ serie?.startYear }}</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          End year <span class="float-right">{{ serie?.endYear }}</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="card-body">
                    <ul class="nav flex-column">
                      <li class="nav-item" *ngFor="let creator of serie?.creators.items">
                        <a class="nav-link">
                          {{ creator.name }} <span class="float-right">{{ creator.role | titlecase }}</span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>

    					</div>

    					<div class="tab-pane fade" id="nav-characters" role="tabpanel" aria-labelledby="nav-characters-tab">

                <ng-template [ngIf]="characters?.length > 0" [ngIfElse]="noCharacters">
                  <div class="card card-widget widget-user-2" *ngFor="let c of characters">
                    <div class="widget-user-header ">
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="{{c?.thumbnail.path}}.{{c?.thumbnail.extension}}" alt={{c.name}}>
                      </div>
                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username align-middle align-self-center">{{c.name}}</h3>
                      <!-- <h5 class="widget-user-desc">Lead Developer</h5> -->
                    </div>
                  </div>
                </ng-template>

                <ng-template #noCharacters>
                  <div class="card card-widget widget-user-2">
                    <div class="widget-user-header">
                      <h3 class="widget-user-username widget-only-text">No characters found</h3>
                    </div>
                  </div>
                </ng-template>

    					</div>

    					<div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                <ng-template [ngIf]="events?.length > 0" [ngIfElse]="noEvents">
                  <div class="card card-widget widget-user-2" *ngFor="let e of events">
                    <div class="widget-user-header">
                      <div class="widget-user-image">
                        <img class="elevation-2" src="{{e?.thumbnail.path}}.{{e?.thumbnail.extension}}" alt={{e.title}}>
                      </div>
                      <h3 class="widget-user-username">{{ e.title | titlecase }}</h3>
                    </div>
                  </div>
                </ng-template>

                <ng-template #noEvents>
                  <div class="card card-widget widget-user-2">
                    <div class="widget-user-header">
                      <h3 class="widget-user-username widget-only-text">No events found</h3>
                    </div>
                  </div>
                </ng-template>
    					</div>

    					<div class="tab-pane fade" id="nav-stories" role="tabpanel" aria-labelledby="nav-stories-tab">

                <ng-template [ngIf]="stories?.length > 0" [ngIfElse]="noStories">
                  <div class="card card-widget widget-user-2" *ngFor="let s of stories">
                    <div class="widget-user-header">
                      <h3 class="widget-user-username widget-only-text">{{ s.title | titlecase }}</h3>
                    </div>
                  </div>
                </ng-template>

                <ng-template #noStories>
                  <div class="card card-widget widget-user-2">
                    <div class="widget-user-header">
                      <h3 class="widget-user-username widget-only-text">No stories found</h3>
                    </div>
                  </div>
                </ng-template>

    					</div>

    				</div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
