<div class="content-header">

</div>

<div class="content">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <div class="container text-center">
            <h1 class="display-4">Welcome to Marvel Universe</h1>
            <p class="lead">Explore all the features from the world's greatest comic universe</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/comics']">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="">
            <div class="card-body">
              <p class="card-text text-center">Comics</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/characters']">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="">
            <div class="card-body">
              <p class="card-text text-center">Characters</p>
            </div>
          </div></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/series']">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="">
            <div class="card-body">
              <p class="card-text text-center">Series</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/events']">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/300x300" alt="">
            <div class="card-body">
              <p class="card-text text-center">Events</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
