.jumbotron {
  /* font-family: "Roboto"; */
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
}

.card {
  /* padding: 15px; */
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  color: black;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -10px, 0px);
  /* color: rgb(220,53,69) */
  color: #dc3545 !important;
}
