<div class="content-header">

</div>

<div class="content">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <div class="container text-center">
            <h1 class="display-4">Welcome to Marvel Universe</h1>
            <p class="lead">Explore all the features from the world's greatest comic universe</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/comics']">
          <div class="card" [@cardAppeared]='cardState'>
            <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/f/20/4bc63a47b8dcb.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Comics</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/characters']">
          <div class="card" [@cardAppeared]='cardState'>
            <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/9/c0/527bb7b37ff55.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Characters</p>
            </div>
          </div></a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/series']">
          <div class="card" [@cardAppeared]='cardState'>
            <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/c/10/51ca0fc4c83c8.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Series</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <a [routerLink]="['/events']">
          <div class="card" [@cardAppeared]='cardState'>
            <img class="card-img-top" src="http://i.annihil.us/u/prod/marvel/i/mg/3/20/5109a1f93b543.jpg" alt="">
            <div class="card-body">
              <p class="card-text text-center">Events</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
